<div class="row">
  <p id="notice"><%= notice %></p>

  <h1 class="page-header">Songs</h1>

    <div class="row">
      <table class="table">
        <tr>
          <th>Song Title</th>
          <th>URL</th>
          <th>Platform</th>
        </tr>
        <% @songs.each do |song| %>
          <tr>
            <td><%= song.title %></td>
            <td><%= song.song_url %></td>
            <td><%= song.platform %></td>
            <td class="btn-group">
              <%= link_to 'Show', song, class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_song_path(song), class: 'btn btn-primary' %>
              <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <br/>

  <%= link_to 'New Song', new_song_path, class: 'btn btn-info' %>
</div>